.container {
  max-width: var(--max-width);
  width: fit-content;
  margin: var(--spacing-250);
  padding: var(--spacing-250);
  background-color: var(--white);
  border-radius: var(--border-radius);

  color: var(--gray-950);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);

  filter: drop-shadow(var(--shadow));
  border: 1px solid var(--gray-950);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.tags {
  background-color: var(--yellow);
  width: fit-content;
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: var(--font-text-3);
  line-height: 150%;
  letter-spacing: 0;
}

.published {
  font-weight: 500;
  font-size: var(--font-text-3);
  line-height: 150%;
  letter-spacing: 0;
}

.title {
  margin-left: 19px;

  font-weight: 900;
  font-size: var(--font-text-1);
  line-height: 150%;
  letter-spacing: 0;

  cursor: pointer;
}

.title:hover {
  color: var(--yellow);
}

.description {
  margin-left: 19px;

  font-weight: 500;
  font-size: var(--font-text-2);
  line-height: 150%;
  letter-spacing: 0;
  color: var(--gray-500);
}

.footer {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);

  font-weight: 800;
  font-size: var(--font-text-3);
  line-height: 150%;
  letter-spacing: 0;
}

.authorImage {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: var(--border-radius);
}
@media (max-width: 768px) {
  .container {
    max-width: 327px;
    margin: 20px;

    /* position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0); */
  }
  .tags,
  .published {
    font-size: 12px;
  }

  .title,
  .description {
    margin-left: 0;
  }

  .title {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}
